# = Systemd user service unit for GnuPG Dirmngr daemon
# Tim Friske <me@tifr.de>
#
# Controls and supervises _GnuPG's_ _Dirmngr_ daemon via _Systemd_, once
# activated via a socket.
#
# The _GnuPG_ _Dirmngr_ daemon provides access to _OpenPGP_ key servers
# and _OCSP_ _Online Certificate Status Protocol_ providers, and manages
# X.509 certificates and their _CRLs_ _Certificate Revocation Lists_.

[Unit]
Description=GnuPG Dirmngr daemon; program for OpenPGP key server and\
OCSP provider access, and X.509 certificate and CRL management.
Documentation=man:dirmngr(8)
Requires=dirmngr.socket

[Service]
ExecStart=/usr/bin/dirmngr --supervised
ExecReload=/usr/bin/gpgconf --reload dirmngr
