# = Systemd user service unit for GnuPG Dirmngr daemon
# Tim Friske <me@tifr.de>
#
# Controls and supervises _GnuPG's_ _Dirmngr_ daemon via _Systemd_, once
# activated via a socket.
