# = Systemd user socket unit for GnuPG Dirmngr daemon
# Tim Friske <me@tifr.de>
#
# Activates _GnuPG's_ _Dirmngr_ daemon via a socket controlled and
# supervised by _Systemd_.
#
# The _GnuPG_ _Dirmngr_ daemon provides access to _OpenPGP_ key servers
# and _OCSP_ _Online Certificate Status Protocol_ providers, and manages
# X.509 certificates and their _CRLs_ _Certificate Revocation Lists_.

[Unit]
Description=GnuPG Dirmngr daemon; socket access for clients.
Documentation=man:dirmngr(8)

[Socket]
ListenStream=%t/gnupg/S.dirmngr
SocketMode=0600
DirectoryMode=0700
