# = GnuPG Agent daemon access for GnuPG clients
# Tim Friske <me@tifr.de>
#
# Activates _GnuPG's_ _Agent_ daemon via a socket controlled and
# supervised by _Systemd_ for access by clients.
