# = Systemd user service unit for GnuPG Agent daemon
# Tim Friske <me@tifr.de>
#
# Controls and supervises _GnuPG's_ _Agent_ daemon via _Systemd_, once
# activated via a socket.
#
# The _GnuPG_ _Agent_ daemon manages _OpenPGP_ and _SSH_ private keys and
# offers its clients to cryptographically sign data with them.  It protects
# these keys with their passphrases against unauthorized access.  These
# passphrases may be cached for a configurable amount of time in order to
# alleviate the user from having to enter them upon each private key access.

[Unit]
Description=GnuPG Agent daemon; program for OpenPGP and SSH private key\
management and passphrase caching.
Documentation=man:gpg-agent(1)
Requires=gpg-agent.socket

[Service]
ExecStart=/usr/bin/gpg-agent --supervised
ExecReload=/usr/bin/gpgconf --reload gpg-agent
