# = GnuPG Agent daemon access for remote hosts
# Tim Friske <me@tifr.de>
#
# Activates _GnuPG's_ _Agent_ daemon via a socket controlled and
# supervised by _Systemd_ for access by remote hosts.
#
# The _GnuPG_ _Agent_ daemon manages _OpenPGP_ and _SSH_ private keys and
# offers its clients to cryptographically sign data with them.  It protects
# these keys with their passphrases against unauthorized access.  These
# passphrases may be cached for a configurable amount of time in order to
# alleviate the user from having to enter them upon each private key access.

[Unit]
Description=GnuPG Agent daemon; socket access for remote hosts.
Documentation=man:gpg-agent(1)

[Socket]
ListenStream=%t/gnupg/S.gpg-agent.extra
FileDescriptorName=extra
Service=gpg-agent.service
