# = GnuPG Agent daemon access for browsers
# Tim Friske <me@tifr.de>
#
# Activates _GnuPG's_ _Agent_ daemon via a socket controlled and
# supervised by _Systemd_ for access by browsers.
