# Autostart of GNOME System Monitor
# =================================
# Tim Friske <me@tifr.de>

[Desktop Entry]
# -------------

Type=Application

Name=System Monitor
Name[de]=Systemmonitor

GenericName=System monitoring
GenericName[de]=Systemüberwachung

Comment=Monitors state of processes and overall system health
Comment[de]=Überwacht Zustand der Prozesse und Gesundheit des Systems

Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;
Keywords[de]=Überwachung;System;Prozess;CPU;Speicher;Netzwerk;Chronik;Last;Leistung;Aufgabe;Dienst;Verwaltung;

Categories=GNOME;GTK;System;Monitor;

Icon=utilities-system-monitor
TryExec=gnome-system-monitor
Exec=gnome-system-monitor
Terminal=false
OnlyShowIn=GNOME
DBusActivatable=true
StartupNotify=true

X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=system-monitor
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.24.0
