# Autostart of GNOME Nautilus
# ===========================
# Tim Friske <me@tifr.de>

[Desktop Entry]
# -------------

Type=Application

Name=Files
Name[de]=Dateien

GenericName=File Manager
GenericName[de]=Dateimanager

Comment=Access and organize files
Comment[de]=Auf Dateien zugreifen und diese organisieren

Keywords=browser;disk;drive;explorer;file;filesystem;folder;manager;storage
Keywords[de]=Datei;Dateisystem;Festplatte;Laufwerk;Ordner;Speicher;Verwaltung;Verzeichnis;

Categories=GNOME;GTK;Utility;Core;FileManager;

MimeType=inode/directory;application/x-gnome-saved-search;

Icon=org.gnome.Nautilus
TryExec=nautilus
Exec=nautilus --new-window %U
Terminal=false
OnlyShowIn=GNOME
DBusActivatable=true
StartupNotify=true

X-GNOME-UsesNotifications=true

# Desktop Actions
# ---------------

Actions=NewWindow;

[Desktop Action NewWindow]
# ~~~~~~~~~~~~~~~~~~~~~~~~

Name=New Window
Name[de]=Neues Fenster

Exec=nautilus --new-window
