# Autostart Of JetBrains PyCharm PE IDE
# =====================================
# Tim Friske <me@tifr.de>

[Desktop Entry]
# -------------

Type=Application

Name=JetBrains PyCharm Professional Edition
Name[de]=JetBrains PyCharm Professional Edition

GenericName=Pyhton IDE
GenericName[de]=Pyhton IDE

Comment=Professional edition of the integrated development environment by JetBrains for the Python programming language.
Comment[de]=Professionelle Ausgabe der integrierten Entwicklungsumgebung von JetBrains für die Python Programmiersprache.

Categories=Development;IDE;

Icon=/snap/pycharm-professional/183/bin/pycharm.png
TryExec=/snap/bin/pycharm-professional
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/pycharm-professional_pycharm-professional.desktop /snap/bin/pycharm-professional %f
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-pycharm

X-KDE-SubstituteUID=false
X-SnapInstanceName=pycharm-professional
