# Autostart Of KeePassXC Password Manager
# =======================================
# Tim Friske <me@tifr.de>

[Desktop Entry]
# -------------

Type=Application

Name=KeePassXC
Name[de]=KeePassXC

GenericName=Password Manager
GenericName[de]=Passwortmanager

Comment=Securely mangages sensitive information
Comment[de]=Behandelt vertrauliche Informationen auf sichere Weise

Categories=Utility;Security;Qt;

Icon=keepassxc
TryExec=/usr/bin/keepassxc
Exec=/usr/bin/keepassxc
Terminal=false
StartupNotify=true
StartupWMClass=keepassxc
MimeType=application/x-keepass2;

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2
X-KDE-autostart-after=panel
X-LXQt-Need-Tray=true
