# = Configuration of OpenSSH SSH client
# Tim Friske <me@tifr.de>
#
# Configures the _OpenSSH_ _SSH_ _Secure SHell_ client.
#
# The _SSH_ client program obtains its configuration from the below
# sources in the following order:
#
#   . Command line options.
#
#   . User configuration file (`~/.ssh/config`).
#
#   . System configuration file (`/etc/ssh/ssh_config`).
#
# For each setting only the first encountered value will be used.  The
# configuration files contain sections separated by `Host` name patterns
# and a setting from that section with a pattern which best matches a
# given host is chosen.  The host name is usually given on the command
# line (see the `CanonicalizeHostname` option for exceptions).
#
# Since only the first obtained value for each setting is used, sections
# with more host-specific patterns must come before ones with less
# specific patterns.  The most general section `Host *`, i.e. the one
# with the least host-specific pattern, must be the last section of this
# configuration file.
#
# Important note: With regards to security sensitive settings this
# configuration file mainly follows the advices given by the
# https://infosec.mozilla.org/guidelines/openssh[Mozilla Security
# Guidelines for OpenSSH].  For details on choosing safe curves for
# elliptic-curve cryptography see https://safecurves.cr.yp.to[Safe
# Curves].

# The default host section must be defined at the end of this
# configuration file in order to not overrule the settings from more
# host-specific sections.  Further host sections may be defined with
# more specific sections listed before less specific sections from top
# to bottom.
#
Host *

  # Make known hosts, i.e. their DNS names and IP adresses, unreadable
  # by letting _SSH_ remember them in their hashed form only.  This
  # prevents others from getting to know the hosts the user tried to
  # connect to and potentially has access to.
  #
  # Important note: Hosts that were known before hashing known hosts
  # will not be retroactively replaced by their hashed form.  For _SSH_
  # to remember them in their hashed form too run `ssh-keygen -H`.
  #
  # Default: HashKnownHosts no
  #
  HashKnownHosts yes
