# = Configuration of OpenSSH daemon
# Tim Friske <me@tifr.de>
#
# Configures _OpenSSH's_ _Secure SHell_ daemon program.  The _OpenSSH_
# daemon is used in combination with a _SSH_ compatible client to
# establish a secure connection between two untrusted hosts over an
# insecure network.
#
# Empty lines are ignored but may be used to divide the content of this
# configuration file into logical blocks.  Lines whose first
# non-whitespace character is the `#` hash sign are ignored but may be
# used as comments.
