# = Configuration of OpenSSH daemon
# Tim Friske <me@tifr.de>
#
# Configures _OpenSSH's_ _Secure SHell_ daemon program.  The _OpenSSH_
# daemon is used in combination with a _SSH_ compatible client to
# establish a secure connection between two untrusted hosts over an
# insecure network.
